.green :hover{
    color:#93ab01;
    transition: 0.4s;
}

.custom-navbar-collapses{
    @media (max-width:992px){
        border-radius: 10px;
        background-color:#171f52;
        
    }
}

.custom-navbar-collapse{
    @media (max-width:992px){
        padding: 10px;
        color:white;
        font-size: 14px;
       
    }
}    

/* .font{
    color:#171f52;
    color: black;
} */






/* search */


.searchinput::placeholder{
    font-size: 13px;
    font-weight: 400;
    color: #171f52;
    padding-left: 20px;
}



.searchinput:focus{
    outline: none;
    box-shadow: 0 0 5px  #4A90E2;
}

.search-container-icon{
    position: relative;
}
.searchicon{
    position: absolute;
    top:50%;
    left:40%;
    transform:translateY(-50%);
    transform:translateY(-40%);

}




/* cart */
.cartbuttons:hover{
    filter: brightness(75%);
    transition: 0.3s;
}